<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ugr.juegoreconocimiento"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name="es.ugr.utilidades.Globals"
        android:allowBackup="true"
        android:debuggable="true"
        android:screenOrientation="sensorLandscape"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.ugr.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="es.ugr.reconocimiento.ReconocimientoObjeto"
            android:label="@string/title_activity_reconocimiento_objeto"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="es.ugr.reconocimiento.ReconocimientoObjeto2"
            android:label="@string/title_activity_reconocimiento_objeto"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="es.ugr.activities.AboutActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.activities.GestionAlumnos"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.lista_principal.ParentFragmentActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.activities.Resultados"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.activities.SeriesEjercicios"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.activities.Graficas"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.activities.Tablas"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.activities.Ejercicios"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.activities.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.ugr.reconocimiento.EmpezarJuego"
            android:label="@string/title_activity_empezar_juego"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="es.ugr.reconocimiento.Juego"
            android:label="@string/title_activity_juego"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="es.ugr.dialogs.FichaObjeto"
            android:label="@string/title_activity_ficha_objeto"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="es.ugr.activities.Objetos"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="es.ugr.activities.LoginAdministrador"
            android:label="@string/title_activity_login_administrador"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="es.ugr.lista_principal.ListaPrincipalActivity"
            android:label="@string/title_lista_navegacion"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="es.ugr.activities.ResultadoSerie"
            android:label="@string/title_activity_resultado_serie"
            android:screenOrientation="sensorLandscape" >
        </activity>
        
        <activity
            android:name="es.ugr.reconocimiento.ComenzarEjercicio"
            android:screenOrientation="sensorLandscape"
            android:label="@string/title_activity_comenzar_ejercicio" >
        </activity>
    </application>

</manifest>